<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="org.mousephenotype.dcc.entities.qc.pu" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>org.mousephenotype.dcc.entities.qc.AState</class>
    <class>org.mousephenotype.dcc.entities.qc.AUser</class>
    <class>org.mousephenotype.dcc.entities.qc.ActionType</class>
    <class>org.mousephenotype.dcc.entities.qc.AnAction</class>
    <class>org.mousephenotype.dcc.entities.qc.AnIssue</class>
    <class>org.mousephenotype.dcc.entities.qc.CitedDataPoint</class>
    <class>org.mousephenotype.dcc.entities.qc.CitedMeasurement</class>
    <class>org.mousephenotype.dcc.entities.qc.DataContext</class>
    <class>org.mousephenotype.dcc.entities.qc.History</class>
    <class>org.mousephenotype.dcc.entities.qc.HistoryEntry</class>
    <class>org.mousephenotype.dcc.entities.qc.IssueStatus</class>
    <class>org.mousephenotype.dcc.entities.qc.Sessions</class>
    <class>org.mousephenotype.dcc.entities.qc.StateAndUnresolvedIssuesCount</class>
  </persistence-unit>
</persistence>
